nav{
  background: #000000;
  color: white;
  max-width: 100%;
}
.planets{
  display: flex;
  align-items: center;
  align-content: space-between;
  background: black;
  color: white;
  border-radius: 20px;
}
.icon{
  text-align: center;
  padding: 5px;
  cursor: pointer;
  margin: auto;
}
.icon.mercury img{
  width: 37px;
}
.icon.min img{
  max-width: 42px;
}
.icon img{
  width: 55px;
}
.text{
  margin-top: 5px;
  display: block;
}
.fa-space-shuttle{
  font-size: 45px;
}
.fa-space-shuttle:hover{
  color: #2BC4F3;
}
.night{
  background-color: black;
  color: white;
}
